<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <img src="assets/img/logo.png">
  </div>
  <h1 class="ion-text-center logo-white sobre">
    Sobre:
  </h1>
  <div class="ion-text-center descricao">
    O app da Beaver House tem o intuito de proporcionar o controle de sua casa, de maneira fácil e intuitiva!
  </div>
  <h1 class="ion-text-center logo-white">
    Desenvolvedores:
  </h1>
  <div class="ion-text-center nome">
    Carlos Eduardo Artioli
  </div>
  <div class="foto">
    <img src="https://avatars0.githubusercontent.com/u/61008559?s=460&u=bc44cf8278c492d7cebaf7b4ca41d4302f9a6879&v=4">
  </div>
  <div class="ion-text-center contato">
    <a href="https://github.com/CarlosEduardoArtioli">
      <ion-icon name="logo-github"></ion-icon>&nbsp;GitHub
    </a>
    <br>
    <a href="mailto:caduartioli@gmail.com"><ion-icon name="logo-google"></ion-icon>&nbsp;Gmail</a>
    <br>
    <a href="https://www.linkedin.com/in/carlos-eduardo-artioli/">
      <ion-icon name="logo-linkedin"></ion-icon>&nbsp;LinkedIn
    </a>
  </div>
  <div class="ion-text-center nome">
    Igor Silva Mendes
  </div>
  <div class="foto">
    <img src="https://avatars1.githubusercontent.com/u/60738451?s=460&u=39923b08b9ef95c707fe7dabc8a2e7ac8c39660d&v=4">
  </div>
  <div class="ion-text-center contato">
    <a href="https://github.com/IgorMendes404">
      <ion-icon name="logo-github"></ion-icon>&nbsp;GitHub
    </a>
    <br>
    <a href="mailto:igorsmendes2803@gmail.com">
      <ion-icon name="logo-google"></ion-icon>&nbsp;Gmail
    </a>
  </div>
  <div class="ion-text-center nome">
    Guilherme Rodrigues Prado
  </div>
  <div class="foto">
    <img src="https://avatars1.githubusercontent.com/u/60738639?s=460&u=fbdb6ecaeaf4d2d747901e389048fc6512cf0fee&v=4">
  </div>
  <div class="ion-text-center contato">
    <a href="https://github.com/gui-prado">
      <ion-icon name="logo-github"></ion-icon>&nbsp;GitHub
    </a>
    <br>
    <a href="mailto:guilhermerodriguesprado13@gmail.com">
      <ion-icon name="logo-google"></ion-icon>&nbsp;Gmail
    </a>
  </div>
</ion-content>