::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-label {
  font-weight: bolder;
}

ion-icon {
  font-size: 45px;

  &.ligado {
    color: #7ce577;
  }

  &.desligado {
    color: rgb(255, 255, 255, 1);
  }
}

span {
  font-size: 16px;
  padding-top: 5px;

  &.ligado {
    color: #7ce577;
  }

  &.desligado {
    color: rgb(255, 255, 255, 1);
  }
}

.sqare_button {
  height: 90px;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room {
  font-size: 10px;

  ion-icon {
    font-size: 10px;
  }
}

@media (min-width: 720px) {
  ion-content {

    ion-label {
      font-size: 18px;
    }

    ion-icon {
      font-size: 60px;
    }

    span {
      font-size: 20px;
    }

    .sqare_button {
      height: 120px;
    }

    .vertical {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .room {
      font-size: 14px;

      ion-icon {
        font-size: 14px;
      }
    }

  }
}